template(id="galleryItemTemplate")
  li(class="gallery-list__item gallery-image")
    img(class="gallery-image__item")
    div(class="gallery-image__hover-filter")
      i(class="gallery-image__hover-icon")