header(class="main-header")
  img(class="main-header__hero-image" src="assets/images/header.jpg")
  div(class="main-header__content-wrapper content-wrapper")
    div(class="user-info")
      img(class="user-info__image" src="assets/images/userpicture.png")
      div(class="user-info__content")
        h1(class="user-info__title") Andrew Sokolovsky
        ul(class="user-info__list")
          each item in [["position","Manager"], ["location","Lives in Kiev"], ["contacts", "66 have you in circles"]]
            li(class=`user-info__list-item user-info__list-item--${item[0]} characteristic`)
              span(class=`characteristic__icon characteristic__icon--${item[0]}`)
              span(class="characteristic__title") #{item[1]}

