- const tabs = [
- {
-  name: "about",
-  content: "About",
- },
- {
-  name: "photos",
-  content: "Photos"
-}]

nav(class="sections-nav")
  ul(class="sections-nav__nav-list nav-list")
      - for(let i = 0; i < tabs.length; i++){
        li(class=`nav-list__item nav-list__item--${tabs[i].name}`)
          span(class="nav-list__link-text") #{tabs[i].content}
      - }