doctype html
html
  head
    include particles/head.pug
    title Page Title

  body
    include particles/header.pug
    main.content
      include particles/section-nav.pug
      include particles/about.pug
      include particles/photos.pug
    include particles/modal.pug
    include particles/galleryItemTemplate.pug