include ../node_modules/bemto.pug/bemto.pug
doctype html
html
  head
    include views/head.pug
    title Page Title

  body
    include views/header.pug
    main.content
      include views/section-nav.pug
      include views/about.pug