.about {
  max-width: $commonMaxWidth;
  width: 100%;
  align-self: center;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 52px;
  max-height: 1000px;

  &__story,
  &__education {
    align-self: flex-end;
  }
}

.info-container {
  position: relative;
  width: 100%;
  max-width: 590px;
  overflow: hidden;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.1);
}

.container-header {
  display: flex;

  &__title {
    margin: 36px 0 0 0;
    color: $primaryFontColor;
    font-family: $textFontStack;
    font-size: 30px;
    line-height: 0.8;
    letter-spacing: 1.5px;
  }

  &__bar {
    border-radius: inherit;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 5px;
    border-radius: inherit;
  }

  &__bar--cyan {
    background-color: #fa5770;
  }

  &__bar--light-blue {
    background-color: #5fc0e7;
  }

  &__bar--violet {
    background-color: #7c4098;
  }
  &__bar--light-orange {
    background-color: #f26632;
  }
}

.textual-item {
  display: flex;
  flex-direction: column;
  color: $primaryFontColor;
  font-family: $primaryfontStack;
  font-weight: bold;
  letter-spacing: -0.4px;
  margin-top: 30px;

  &__title {
    margin: 0;
  }

  &__content {
    letter-spacing: 0.95px;
    font-weight: 400;
    margin: 5px 0 0 0;
  }
}
.contacts-photo {
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
  }

  &__title {
    margin: 0;
    color: $primaryFontColor;
    font-family: $primaryfontStack;
    letter-spacing: -0.4px;
  }
  &__expand {
    font-weight: 300;
    padding: 0;
    letter-spacing: -0.2px;
  }
  &__list {
    margin: 16px 0 0 0;
  }
}

.contacts-list {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}
.button {
  outline: none;
  background: none;
  border: none;
  font-family: $primaryfontStack;
  font-size: 14px;
  line-height: 14px;
  color: #5fc0e7;

  &--action {
    position: relative;
  }

  &--action::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 0px;
    left: -2px;
    width: 15px;
    height: 14px;
    background-image: url(../../assets/images/edit.svg);
  }
}

.container-footer {
  margin-top: 26px;
  margin-bottom: 26px;
  &__button {
    padding-left: 3px;
  }
}
