html {
  height: 101%;
}

body {
  background-color: #f5fcff;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.content-wrapper {
  position: relative;
  display: flex;
  align-content: center;
  width: 100%;
  max-width: $commonMaxWidth;
  margin-left: 14px;
}
