.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100%;
  background-color: rgba(49, 85, 103, 0.8);
}

.popup {
  margin: auto;
  height: 100%;
  height: 640px;

  &__image {
    width: auto;
    height: 100%;
  }
}
