.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(49, 85, 103, 0.8);

  &__popup {
    margin: auto;
  }
}

.popup {
  position: relative;

  &__image-wrapper {
    max-width: $commonMaxWidth;
    width: inherit;
    max-height: 640px;
    height: inherit;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    align-self: center;
  }

  &__close-button {
    position: absolute;
    top: -27px;
    right: -27px;
    width: 54px;
    height: 54px;
    background-color: #5fc0e7;
    background-image: url(../../assets/images/close.svg);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
}
